<div class="content-container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Data de Nascimento</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @for (item of listaPessoas; track item) {
            <tr>
                <td>
                    {{item.id}}
                </td>
                <td>{{item.nome}}</td>
                <td>{{item.sobrenome}}</td>
                <td>{{item.dtNascimento}}</td>

                <td>
                    <button class="btn-editar" [routerLink]="['alterar', item.id]">Editar</button>
                    <button class="btn-excluir">Excluir</button>
                </td>

            </tr>
            }
        </tbody>

    </table>
    <button class="btn-incluir">Incluir</button>
</div>
