<mat-toolbar color="primary">
    
    <!-- Home -->
    <button mat-button class="logo-button" routerLink="/">
        <mat-icon fontIcon="home"></mat-icon>
        <span>Olá Mundo</span>
    </button>

    <!-- Espaçador -->
    <span class="spacer"></span>

    <!-- Botões -->
    <button mat-button [matMenuTriggerFor]="cadastros">Cadastro</button>

    <mat-menu #cadastros="matMenu">
        <button mat-menu-item>
            <mat-icon>people</mat-icon>
            <span routerLink="/pessoas/incluir">Pessoas</span>
        </button>
        <button mat-menu-item >
            <mat-icon>add_circle</mat-icon>
            <span routerLink="/produtos/incluir">Produtos</span>
        </button>
    </mat-menu>


    <button mat-raised-button routerLink="/pessoas/login">Login</button>
    <!-- Menu que abre opções -->
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>help_outline</mat-icon>
            <span routerLink="/sobre">Ajuda</span>
        </button>
        <button mat-menu-item disabled>
            <mat-icon>info_outline</mat-icon>
            <span routerLink="/sobre">Sobre</span>
        </button>
    </mat-menu>


</mat-toolbar>

