<form [formGroup]="formulario" (ngSubmit)="onSubmit()" novalidate>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nome do Produto</mat-label>
        <input matInput formControlName="nome" placeholder="Ex: Produto A">
        @if (formulario.get('nome')?.hasError('required')) {
        <mat-error>Nome é obrigatório</mat-error>
        }
        @if (formulario.get('nome')?.hasError('minlength')) {
        <mat-error>Mínimo de 3 caracteres</mat-error>
        }
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Descrição do Produto</mat-label>
        <textarea matInput formControlName="descricao" rows="4" placeholder="Ex: Produto excelente para..."></textarea>
        @if (formulario.get('descricao')?.hasError('required')) {
        <mat-error>Descrição é obrigatória</mat-error>
        }
        @if (formulario.get('descricao')?.hasError('minlength')) {
        <mat-error>Mínimo de 10 caracteres</mat-error>
        }

    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="formulario.invalid">Enviar</button>
</form>

