<div class="content-container">
  <h1>{{ titulo }}</h1>
  <form>
    <label for="input-nome">Nome</label><br>
    <input class="input-simples" id="input-nome" name="input-nome" placeholder="Digite o primeiro nome" type="text" />
    <label for="input-sobrenome">Sobrenome</label><br>
    <input class="input-simples" id="input-sobrenome" name="input-sobrenome" placeholder="Digite o sobrenome" type="text" />
    <label for="input-nascimento">Escolha a data de nascimento</label><br>
    <input class="input-simples" id="input-nascimento" name="input-nascimento" type="date" />
    <button class="input-submeter" >
      Cadastrar
    </button>
  </form>
</div>

